*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    font-size: 16px;
    margin: 0;
    min-height: fit-content;
}
.container-fluid{
    display: grid;
    grid-template-rows: 15% auto 8%;
    min-height: 100vh;
    
}
header{
    display: grid;
    grid-template-rows: 40% 60%;
}
nav{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    background-color: #000000;
    /* width: 100%;  */
}
footer{
    background-color: #00ffff;
    position: relative;
}
.contact{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.contacts{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0rem 2rem;
    box-sizing: border-box;
}
a{
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    background-color: #3dcee7;    
}
.name{
    text-align: center;
    font-size: 25px;
    color: #ffebcd;
}
.link-holder{
    padding: 15px;
    align-items: flex-end;

}
.footer-content{
    font-size: 20px;
    text-align: center;
    padding: 25px 0px 0px 0px;
}
img{
    width: 30px;
    height: 30px;
    text-align: center;
}
.link{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
form{
    font-size: 25px;
    height: 100%;
}
a.term{
    color: #800080;
    font-size: 25px;
    text-decoration: none;
    color:blue;
}
input{
    font-size: 25px;
}
.admin-container{
    display: grid;
    grid-template-rows: 20% auto 10%;
    min-height: 100vh;
}
section{
    padding: 10px 10px 0px 20px;
    margin: 0;
    min-height: 100%;
}
.label0{
    display: grid;
    grid-template-columns: 20% auto;
    column-gap: 1rem;
    padding: 10px 0px 10px 0px;
}
q{
    color: #d4cfcf;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 0px 20px 0px;
}
.uploaded{
    font-size: 25px;
    text-align: center;
}
#button{
    width: 3fr;
    height: 2fr;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}
.login_button{
    text-align: center;
}
legend{
    color: #f01111;
    font-weight: bold;
    font-style: oblique;
    font-size: 30px;
}
.home0{
    /* display: grid; */
    /* grid-template-columns: 35% auto; */
    column-gap: 1rem;
    align-items: center;
    margin: 0;
}
/* .home1{
    align-items: center;
    height: 100%;
    overflow: hidden;
} */
.home2{
    width: 450px;
    height: 500px;
    border-radius: 30px;
}
.home3{
    text-align: left;
    font-size: 20px;
    font-family: sans-serif;
}
.home6{
    display: grid;
    grid-template-columns: 50% 50%;
}
.home7{
    font-size: 20px;
    font-family: sans-serif;
}
h1{
    color: #e10000;
}
hr{
    border: 2px solid #000000;
}
.home8{
    width: 600px;
    height: 300px;
    border-radius: 30px;
    float: right;
}
input:valid{
    border: 1px solid #000000;
}
input:invalid{
    border: 1px solid #ff0000;
}

/* terms and conditions page */
.tc-container{
    display: grid;
    grid-template-rows: 10% auto 8%;
    margin: 0px 0px;
    min-height: 100vh;
}
.t2{
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: #16bbee;
    align-items: center;
}
.t3{
    color: white;
    font-size: 35px;
    text-align: right;
    padding: 0px 20px;
}
.tc0{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
} 
.tc1{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
footer.tEnd{
    background-color:#16bbee ;
    height: 100%;
    font-size: 20px;
    padding-left: 1rem;
}
.tcEnd{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.treatParagraph{
    display: grid;
    grid-template-columns: 20% 70%;
}
.number{
    font-size: 100px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.end0{
    text-align: center;
    padding-right: 20px;
    padding-top: 20px;
}
.biz-name{
    text-align: center;
    font-size: 25px;
    color: #000000
}
.contact0{
    display: flex;
    flex-direction: row;
    margin: 20px;
    column-gap: 15px;
}
.contact1{
    flex: 65%;

}
.contact2{
    display: flex;
    justify-content: space-between;
}
.contact12{
    flex: 35%;
    background-color: rgb(51, 214, 119);
    background-image: url(../image/corruption1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    text-align: center;
}
.ct1{
    color: red;
    font-size: 35px;
    text-align: center;
}
.ct2{
    padding: 10px;
    font-size: 25px;
}
#buttonc{
    width: 3fr;
    height: 2fr;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}
.factor{
    display: grid;
    grid-template-rows:  auto;
}